/* Definición de variables CSS para colores y fuentes */
:root {
    --primary-color: #ffd700; /* Amarillo */
    --secondary-color: #333; /* Gris oscuro para el texto */
    --background-color: #f8f7f8c5; /* Fondo claro */
    --font-family: 'Arial', sans-serif; /* Fuente de texto */
    --white-color: black; /* Texto en color negro para contraste */
    --input-border-color: #ccc; /* Color de borde de los campos de entrada */
    --input-focus-border-color: #fffb00; /* Color de borde cuando los campos están enfocados */
}

/* Estilos generales para el cuerpo del documento */
body {
    font-family: var(--font-family); 
    background-color: var(--background-color); 
    background-image: url('https://wallpapers.com/images/hd/buenos-aires-the-obelisk-at-night-kfxj30ofo8r2lvfl.jpg'); /* Imagen de fondo del Obelisco */
    background-size: cover;  /* Hace que la imagen cubra toda la página */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que el fondo se quede fijo al hacer scroll */
    margin: 20px; 
    color: #ffd900  ; /* Color de texto gris oscuro */
}

/* Estilos para el encabezado */
header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 20px; 
    background-color: var(--primary-color); 
    padding: 10px 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Contenedor del logo */
.logo-container {
    display: flex; 
    align-items: center; 
}

/* Estilos para el logo */
.logo {
    max-width: 150px; 
    margin-right: 10px; 
    filter: grayscale(100%) invert(100%); /* Los logos serán negros */
}

/* Contenedor del título */
.title-container {
    flex-grow: 1; 
    text-align: center; 
}

/* Estilos para el título principal */
h1 {
    margin: 0; 
    color: var(--white-color); /* Título en color negro para contraste */
}

/* Estilos para el formulario */
form {
    background-color: transparent; 
    padding: 35px; 
    border-radius: 8px; 
    
    max-width: 600px; 
    margin: 0 auto; 
    width: 100%; 
}



/* Estilos para los campos de entrada */
input {
    display: block; 
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid var(--input-border-color); 
    border-radius: 4px; 
    transition: border-color 0.3s; 
}

/* Estilos para los campos de entrada al enfocarse */
input:focus {
    border-color: var(--input-focus-border-color);
    outline: none; 
}

/* Estilos para los botones */
button {
    display: inline-block; 
    padding: 10px 20px; 
    margin-right: 10px; 
    border: none; 
    border-radius: 4px; 
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

/* Estilos para los botones al pasar el ratón */
button:hover {
    background-color: #e6b800; 
}

/* Estilos para el contenedor del resumen */
#summary {
    max-width: auto; 
    margin: 20px auto; 
    background-color: transparent;
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las tablas */
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
    background-color: rgba(183, 180, 180, 0.73);
}

/* Bordes de las tablas, celdas y encabezados */
table, th, td {
    border: 1px solid #2e2b2b; 
    color: #000;
}

/* Relleno y alineación de las celdas */
th, td {
    padding: 10px; 
    text-align: left; 
}

/* Estilos para los encabezados de las tablas */
th {
    background-color: var(--primary-color); 
    color: var(--secondary-color); /* Color del texto de los encabezados */
}

/* Estilos para el contenedor de botones */
.button-container {
    text-align: right; 
    margin-top: 20px; 
}

/* Estilos para el pie de página */
footer {
    background-color: var(--primary-color); 
    padding: 10px; 
    border-radius: 8px; 
    margin-top: 20px; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
}

/* Contenedor del pie de página */
.footer-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* Estilos para la imagen del pie de página */
.footer-image {
    max-width: 150px; 
    filter: grayscale(100%) invert(100%); /* Los logos del pie de página también serán negros */
}

/* Estilos para las sugerencias de autocompletado */
.autocomplete-suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    background-color: white;
     color: #000;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #eaeaea;
}
