/* Definición de variables CSS para colores y fuentes */
:root {
    --primary-color: #ffd700;
    --secondary-color: #333;
    --background-color: #f8f7f8c5;
    --font-family: 'Arial', sans-serif;
    --white-color: black;
    --input-border-color: #ccc;
    --input-focus-border-color: #ffcc00;
}

/* Estilos generales para el cuerpo del documento */
body {
    font-family: var(--font-family); 
   
    background-color: var(--background-color); 
    background-image: url('https://wallpapers.com/images/hd/buenos-aires-the-obelisk-at-night-kfxj30ofo8r2lvfl.jpg'); /* Imagen de fondo del Obelisco */
    background-size: cover;  /* Hace que la imagen cubra toda la página */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que el fondo se quede fijo al hacer scroll */
    margin: 20px; 
}


/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
}

/* Estilos para el logo */
.logo {
    max-width: 150px;
    margin-right: 10px;
    filter: grayscale(100%) invert(100%);
}

/* Contenedor del título */
.title-container {
    flex-grow: 1;
    text-align: center;
}

/* Estilos para el título principal */
h1 {
    margin: 0;
    color: var(--white-color);
}

h3{  color: var(--black-color);
    background-color: #ffd700;
    padding: 10px 20px;
    text-align: center;
    margin-top: auto;
    width: auto;
}

/* Estilos para los botones */
.button, .action-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para los botones al pasar el ratón */
.button:hover, .action-button:hover {
    background-color: #e6b800;
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

/* Bordes de las tablas, celdas y encabezados */
table, th, td {
    border: 1px solid #2e2b2b;
}
   
     

/* Relleno y alineación de las celdas */
th, td {
    padding: 10px;
    text-align: left;
}

/* Estilos para los encabezados de las tablas */
th {
    background-color: #ffd700;
}

/* Estilos para el pie de página */
footer {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor del pie de página */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para la imagen del pie de página */
.footer-image {
    max-width: 150px;
    filter: grayscale(100%) invert(100%);
}
/* Estilos para el contenedor de botones */
.button-container {
    text-align: right; 
    margin-top: 20px; 
}
/* Estilos para los botones */
button {
    display: inline-block; 
    padding: 10px 20px; 
    margin-right: 10px; 
    border: none; 
    border-radius: 4px; 
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

/* Estilos para los botones al pasar el ratón */
button:hover {
    background-color: #e6b800; 
}
